In [ ]:
import pandas as pd
df=pd.read_csv("/content/drive/MyDrive/oasisinfobyte datasets/Advertising (1).csv")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df.head(10)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8
7           8  120.2   19.6       11.6   13.2
8           9    8.6    2.1        1.0    4.8
9          10  199.8    2.6       21.2   10.6

In [ ]:
#Here it contains two columns so we drop one column
df.drop(columns=df.columns[0],axis=1,inplace=True)

In [ ]:
df.head(10)

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9
5    8.7   48.9       75.0    7.2
6   57.5   32.8       23.5   11.8
7  120.2   19.6       11.6   13.2
8    8.6    2.1        1.0    4.8
9  199.8    2.6       21.2   10.6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
pd.get_dummies(df)

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [ ]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [ ]:
x = df.iloc[:,0:-1].values
y = df.iloc[:,-1:].values

In [ ]:
print(x)

[[230.1  37.8  69.2]
 [ 44.5  39.3  45.1]
 [ 17.2  45.9  69.3]
 [151.5  41.3  58.5]
 [180.8  10.8  58.4]
 [  8.7  48.9  75. ]
 [ 57.5  32.8  23.5]
 [120.2  19.6  11.6]
 [  8.6   2.1   1. ]
 [199.8   2.6  21.2]
 [ 66.1   5.8  24.2]
 [214.7  24.    4. ]
 [ 23.8  35.1  65.9]
 [ 97.5   7.6   7.2]
 [204.1  32.9  46. ]
 [195.4  47.7  52.9]
 [ 67.8  36.6 114. ]
 [281.4  39.6  55.8]
 [ 69.2  20.5  18.3]
 [147.3  23.9  19.1]
 [218.4  27.7  53.4]
 [237.4   5.1  23.5]
 [ 13.2  15.9  49.6]
 [228.3  16.9  26.2]
 [ 62.3  12.6  18.3]
 [262.9   3.5  19.5]
 [142.9  29.3  12.6]
 [240.1  16.7  22.9]
 [248.8  27.1  22.9]
 [ 70.6  16.   40.8]
 [292.9  28.3  43.2]
 [112.9  17.4  38.6]
 [ 97.2   1.5  30. ]
 [265.6  20.    0.3]
 [ 95.7   1.4   7.4]
 [290.7   4.1   8.5]
 [266.9  43.8   5. ]
 [ 74.7  49.4  45.7]
 [ 43.1  26.7  35.1]
 [228.   37.7  32. ]
 [202.5  22.3  31.6]
 [177.   33.4  38.7]
 [293.6  27.7   1.8]
 [206.9   8.4  26.4]
 [ 25.1  25.7  43.3]
 [175.1  22.5  31.5]
 [ 89.7   9.9  35.7]
 [239.9  41.5  18.5]
 [227.2  15.8  49.9]
 [ 66.9  11.7  36.8]
 [199.8   3.1  34.6]
 [100.4   9.6   3.6]
 [216.4  41.7  39.6]
 [182.6  46.2  58.7]
 [262.7  28.8  15.9]
 [198.9  49.4  60. ]
 [  7.3  28.1  41.4]
 [136.2  19.2  16.6]
 [210.8  49.6  37.7]
 [210.7  29.5   9.3]
 [ 53.5   2.   21.4]
 [261.3  42.7  54.7]
 [239.3  15.5  27.3]
 [102.7  29.6   8.4]
 [131.1  42.8  28.9]
 [ 69.    9.3   0.9]
 [ 31.5  24.6   2.2]
 [139.3  14.5  10.2]
 [237.4  27.5  11. ]
 [216.8  43.9  27.2]
 [199.1  30.6  38.7]
 [109.8  14.3  31.7]
 [ 26.8  33.   19.3]
 [129.4   5.7  31.3]
 [213.4  24.6  13.1]
 [ 16.9  43.7  89.4]
 [ 27.5   1.6  20.7]
 [120.5  28.5  14.2]
 [  5.4  29.9   9.4]
 [116.    7.7  23.1]
 [ 76.4  26.7  22.3]
 [239.8   4.1  36.9]
 [ 75.3  20.3  32.5]
 [ 68.4  44.5  35.6]
 [213.5  43.   33.8]
 [193.2  18.4  65.7]
 [ 76.3  27.5  16. ]
 [110.7  40.6  63.2]
 [ 88.3  25.5  73.4]
 [109.8  47.8  51.4]
 [134.3   4.9   9.3]
 [ 28.6   1.5  33. ]
 [217.7  33.5  59. ]
 [250.9  36.5  72.3]
 [107.4  14.   10.9]
 [163.3  31.6  52.9]
 [197.6   3.5   5.9]
 [184.9  21.   22. ]
 [289.7  42.3  51.2]
 [135.2  41.7  45.9]
 [222.4   4.3  49.8]
 [296.4  36.3 100.9]
 [280.2  10.1  21.4]
 [187.9  17.2  17.9]
 [238.2  34.3   5.3]
 [137.9  46.4  59. ]
 [ 25.   11.   29.7]
 [ 90.4   0.3  23.2]
 [ 13.1   0.4  25.6]
 [255.4  26.9   5.5]
 [225.8   8.2  56.5]
 [241.7  38.   23.2]
 [175.7  15.4   2.4]
 [209.6  20.6  10.7]
 [ 78.2  46.8  34.5]
 [ 75.1  35.   52.7]
 [139.2  14.3  25.6]
 [ 76.4   0.8  14.8]
 [125.7  36.9  79.2]
 [ 19.4  16.   22.3]
 [141.3  26.8  46.2]
 [ 18.8  21.7  50.4]
 [224.    2.4  15.6]
 [123.1  34.6  12.4]
 [229.5  32.3  74.2]
 [ 87.2  11.8  25.9]
 [  7.8  38.9  50.6]
 [ 80.2   0.    9.2]
 [220.3  49.    3.2]
 [ 59.6  12.   43.1]
 [  0.7  39.6   8.7]
 [265.2   2.9  43. ]
 [  8.4  27.2   2.1]
 [219.8  33.5  45.1]
 [ 36.9  38.6  65.6]
 [ 48.3  47.    8.5]
 [ 25.6  39.    9.3]
 [273.7  28.9  59.7]
 [ 43.   25.9  20.5]
 [184.9  43.9   1.7]
 [ 73.4  17.   12.9]
 [193.7  35.4  75.6]
 [220.5  33.2  37.9]
 [104.6   5.7  34.4]
 [ 96.2  14.8  38.9]
 [140.3   1.9   9. ]
 [240.1   7.3   8.7]
 [243.2  49.   44.3]
 [ 38.   40.3  11.9]
 [ 44.7  25.8  20.6]
 [280.7  13.9  37. ]
 [121.    8.4  48.7]
 [197.6  23.3  14.2]
 [171.3  39.7  37.7]
 [187.8  21.1   9.5]
 [  4.1  11.6   5.7]
 [ 93.9  43.5  50.5]
 [149.8   1.3  24.3]
 [ 11.7  36.9  45.2]
 [131.7  18.4  34.6]
 [172.5  18.1  30.7]
 [ 85.7  35.8  49.3]
 [188.4  18.1  25.6]
 [163.5  36.8   7.4]
 [117.2  14.7   5.4]
 [234.5   3.4  84.8]
 [ 17.9  37.6  21.6]
 [206.8   5.2  19.4]
 [215.4  23.6  57.6]
 [284.3  10.6   6.4]
 [ 50.   11.6  18.4]
 [164.5  20.9  47.4]
 [ 19.6  20.1  17. ]
 [168.4   7.1  12.8]
 [222.4   3.4  13.1]
 [276.9  48.9  41.8]
 [248.4  30.2  20.3]
 [170.2   7.8  35.2]
 [276.7   2.3  23.7]
 [165.6  10.   17.6]
 [156.6   2.6   8.3]
 [218.5   5.4  27.4]
 [ 56.2   5.7  29.7]
 [287.6  43.   71.8]
 [253.8  21.3  30. ]
 [205.   45.1  19.6]
 [139.5   2.1  26.6]
 [191.1  28.7  18.2]
 [286.   13.9   3.7]
 [ 18.7  12.1  23.4]
 [ 39.5  41.1   5.8]
 [ 75.5  10.8   6. ]
 [ 17.2   4.1  31.6]
 [166.8  42.    3.6]
 [149.7  35.6   6. ]
 [ 38.2   3.7  13.8]
 [ 94.2   4.9   8.1]
 [177.    9.3   6.4]
 [283.6  42.   66.2]
 [232.1   8.6   8.7]]

In [ ]:
print(y)

[[22.1]
 [10.4]
 [ 9.3]
 [18.5]
 [12.9]
 [ 7.2]
 [11.8]
 [13.2]
 [ 4.8]
 [10.6]
 [ 8.6]
 [17.4]
 [ 9.2]
 [ 9.7]
 [19. ]
 [22.4]
 [12.5]
 [24.4]
 [11.3]
 [14.6]
 [18. ]
 [12.5]
 [ 5.6]
 [15.5]
 [ 9.7]
 [12. ]
 [15. ]
 [15.9]
 [18.9]
 [10.5]
 [21.4]
 [11.9]
 [ 9.6]
 [17.4]
 [ 9.5]
 [12.8]
 [25.4]
 [14.7]
 [10.1]
 [21.5]
 [16.6]
 [17.1]
 [20.7]
 [12.9]
 [ 8.5]
 [14.9]
 [10.6]
 [23.2]
 [14.8]
 [ 9.7]
 [11.4]
 [10.7]
 [22.6]
 [21.2]
 [20.2]
 [23.7]
 [ 5.5]
 [13.2]
 [23.8]
 [18.4]
 [ 8.1]
 [24.2]
 [15.7]
 [14. ]
 [18. ]
 [ 9.3]
 [ 9.5]
 [13.4]
 [18.9]
 [22.3]
 [18.3]
 [12.4]
 [ 8.8]
 [11. ]
 [17. ]
 [ 8.7]
 [ 6.9]
 [14.2]
 [ 5.3]
 [11. ]
 [11.8]
 [12.3]
 [11.3]
 [13.6]
 [21.7]
 [15.2]
 [12. ]
 [16. ]
 [12.9]
 [16.7]
 [11.2]
 [ 7.3]
 [19.4]
 [22.2]
 [11.5]
 [16.9]
 [11.7]
 [15.5]
 [25.4]
 [17.2]
 [11.7]
 [23.8]
 [14.8]
 [14.7]
 [20.7]
 [19.2]
 [ 7.2]
 [ 8.7]
 [ 5.3]
 [19.8]
 [13.4]
 [21.8]
 [14.1]
 [15.9]
 [14.6]
 [12.6]
 [12.2]
 [ 9.4]
 [15.9]
 [ 6.6]
 [15.5]
 [ 7. ]
 [11.6]
 [15.2]
 [19.7]
 [10.6]
 [ 6.6]
 [ 8.8]
 [24.7]
 [ 9.7]
 [ 1.6]
 [12.7]
 [ 5.7]
 [19.6]
 [10.8]
 [11.6]
 [ 9.5]
 [20.8]
 [ 9.6]
 [20.7]
 [10.9]
 [19.2]
 [20.1]
 [10.4]
 [11.4]
 [10.3]
 [13.2]
 [25.4]
 [10.9]
 [10.1]
 [16.1]
 [11.6]
 [16.6]
 [19. ]
 [15.6]
 [ 3.2]
 [15.3]
 [10.1]
 [ 7.3]
 [12.9]
 [14.4]
 [13.3]
 [14.9]
 [18. ]
 [11.9]
 [11.9]
 [ 8. ]
 [12.2]
 [17.1]
 [15. ]
 [ 8.4]
 [14.5]
 [ 7.6]
 [11.7]
 [11.5]
 [27. ]
 [20.2]
 [11.7]
 [11.8]
 [12.6]
 [10.5]
 [12.2]
 [ 8.7]
 [26.2]
 [17.6]
 [22.6]
 [10.3]
 [17.3]
 [15.9]
 [ 6.7]
 [10.8]
 [ 9.9]
 [ 5.9]
 [19.6]
 [17.3]
 [ 7.6]
 [ 9.7]
 [12.8]
 [25.5]
 [13.4]]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=0.2)

In [ ]:
print(x_train)
x_train.shape

[[ 69.2  20.5  18.3]
 [ 89.7   9.9  35.7]
 [ 66.1   5.8  24.2]
 [121.    8.4  48.7]
 [ 11.7  36.9  45.2]
 [ 13.1   0.4  25.6]
 [140.3   1.9   9. ]
 [280.2  10.1  21.4]
 [ 76.4  26.7  22.3]
 [ 85.7  35.8  49.3]
 [215.4  23.6  57.6]
 [149.7  35.6   6. ]
 [ 18.7  12.1  23.4]
 [240.1   7.3   8.7]
 [205.   45.1  19.6]
 [184.9  43.9   1.7]
 [234.5   3.4  84.8]
 [276.9  48.9  41.8]
 [222.4   4.3  49.8]
 [156.6   2.6   8.3]
 [195.4  47.7  52.9]
 [  8.7  48.9  75. ]
 [214.7  24.    4. ]
 [168.4   7.1  12.8]
 [193.7  35.4  75.6]
 [129.4   5.7  31.3]
 [228.3  16.9  26.2]
 [ 17.2   4.1  31.6]
 [296.4  36.3 100.9]
 [139.2  14.3  25.6]
 [206.8   5.2  19.4]
 [ 66.9  11.7  36.8]
 [139.3  14.5  10.2]
 [193.2  18.4  65.7]
 [163.5  36.8   7.4]
 [102.7  29.6   8.4]
 [220.3  49.    3.2]
 [276.7   2.3  23.7]
 [265.6  20.    0.3]
 [250.9  36.5  72.3]
 [164.5  20.9  47.4]
 [293.6  27.7   1.8]
 [  8.4  27.2   2.1]
 [232.1   8.6   8.7]
 [202.5  22.3  31.6]
 [218.5   5.4  27.4]
 [290.7   4.1   8.5]
 [166.8  42.    3.6]
 [ 80.2   0.    9.2]
 [227.2  15.8  49.9]
 [206.9   8.4  26.4]
 [ 69.    9.3   0.9]
 [165.6  10.   17.6]
 [ 25.   11.   29.7]
 [219.8  33.5  45.1]
 [262.9   3.5  19.5]
 [262.7  28.8  15.9]
 [112.9  17.4  38.6]
 [ 78.2  46.8  34.5]
 [284.3  10.6   6.4]
 [  7.8  38.9  50.6]
 [151.5  41.3  58.5]
 [149.8   1.3  24.3]
 [175.1  22.5  31.5]
 [120.5  28.5  14.2]
 [ 28.6   1.5  33. ]
 [ 19.6  20.1  17. ]
 [261.3  42.7  54.7]
 [191.1  28.7  18.2]
 [228.   37.7  32. ]
 [204.1  32.9  46. ]
 [ 44.7  25.8  20.6]
 [255.4  26.9   5.5]
 [217.7  33.5  59. ]
 [131.1  42.8  28.9]
 [213.5  43.   33.8]
 [172.5  18.1  30.7]
 [ 38.   40.3  11.9]
 [ 76.3  27.5  16. ]
 [104.6   5.7  34.4]
 [213.4  24.6  13.1]
 [199.8   3.1  34.6]
 [180.8  10.8  58.4]
 [163.3  31.6  52.9]
 [ 88.3  25.5  73.4]
 [177.   33.4  38.7]
 [229.5  32.3  74.2]
 [ 94.2   4.9   8.1]
 [238.2  34.3   5.3]
 [187.9  17.2  17.9]
 [292.9  28.3  43.2]
 [ 87.2  11.8  25.9]
 [ 97.5   7.6   7.2]
 [ 44.5  39.3  45.1]
 [197.6  23.3  14.2]
 [ 48.3  47.    8.5]
 [199.1  30.6  38.7]
 [ 17.9  37.6  21.6]
 [ 93.9  43.5  50.5]
 [ 13.2  15.9  49.6]
 [  0.7  39.6   8.7]
 [ 56.2   5.7  29.7]
 [ 53.5   2.   21.4]
 [209.6  20.6  10.7]
 [110.7  40.6  63.2]
 [170.2   7.8  35.2]
 [  5.4  29.9   9.4]
 [ 19.4  16.   22.3]
 [225.8   8.2  56.5]
 [239.9  41.5  18.5]
 [281.4  39.6  55.8]
 [ 31.5  24.6   2.2]
 [241.7  38.   23.2]
 [  4.1  11.6   5.7]
 [ 96.2  14.8  38.9]
 [ 26.8  33.   19.3]
 [141.3  26.8  46.2]
 [139.5   2.1  26.6]
 [171.3  39.7  37.7]
 [125.7  36.9  79.2]
 [ 67.8  36.6 114. ]
 [ 75.3  20.3  32.5]
 [ 25.6  39.    9.3]
 [265.2   2.9  43. ]
 [ 70.6  16.   40.8]
 [198.9  49.4  60. ]
 [199.8   2.6  21.2]
 [ 95.7   1.4   7.4]
 [177.    9.3   6.4]
 [131.7  18.4  34.6]
 [120.2  19.6  11.6]
 [ 76.4   0.8  14.8]
 [134.3   4.9   9.3]
 [248.4  30.2  20.3]
 [ 57.5  32.8  23.5]
 [182.6  46.2  58.7]
 [188.4  18.1  25.6]
 [ 38.2   3.7  13.8]
 [ 36.9  38.6  65.6]
 [ 68.4  44.5  35.6]
 [280.7  13.9  37. ]
 [184.9  21.   22. ]
 [107.4  14.   10.9]
 [230.1  37.8  69.2]
 [ 90.4   0.3  23.2]
 [ 74.7  49.4  45.7]
 [ 75.5  10.8   6. ]
 [147.3  23.9  19.1]
 [222.4   3.4  13.1]
 [ 73.4  17.   12.9]
 [175.7  15.4   2.4]
 [239.8   4.1  36.9]
 [109.8  14.3  31.7]
 [216.8  43.9  27.2]
 [ 75.1  35.   52.7]
 [117.2  14.7   5.4]
 [ 59.6  12.   43.1]
 [ 97.2   1.5  30. ]
 [253.8  21.3  30. ]
 [273.7  28.9  59.7]]

(160, 3)

In [ ]:
print(y_train)
y_train.shape

[[11.3]
 [10.6]
 [ 8.6]
 [11.6]
 [ 7.3]
 [ 5.3]
 [10.3]
 [14.8]
 [11.8]
 [13.3]
 [17.1]
 [17.3]
 [ 6.7]
 [13.2]
 [22.6]
 [20.7]
 [11.9]
 [27. ]
 [11.7]
 [10.5]
 [22.4]
 [ 7.2]
 [17.4]
 [11.7]
 [19.2]
 [11. ]
 [15.5]
 [ 5.9]
 [23.8]
 [12.2]
 [12.2]
 [ 9.7]
 [13.4]
 [15.2]
 [18. ]
 [14. ]
 [24.7]
 [11.8]
 [17.4]
 [22.2]
 [14.5]
 [20.7]
 [ 5.7]
 [13.4]
 [16.6]
 [12.2]
 [12.8]
 [19.6]
 [ 8.8]
 [14.8]
 [12.9]
 [ 9.3]
 [12.6]
 [ 7.2]
 [19.6]
 [12. ]
 [20.2]
 [11.9]
 [14.6]
 [15. ]
 [ 6.6]
 [18.5]
 [10.1]
 [14.9]
 [14.2]
 [ 7.3]
 [ 7.6]
 [24.2]
 [17.3]
 [21.5]
 [19. ]
 [10.1]
 [19.8]
 [19.4]
 [18. ]
 [21.7]
 [14.4]
 [10.9]
 [12. ]
 [10.4]
 [17. ]
 [11.4]
 [12.9]
 [16.9]
 [12.9]
 [17.1]
 [19.7]
 [ 9.7]
 [20.7]
 [14.7]
 [21.4]
 [10.6]
 [ 9.7]
 [10.4]
 [16.6]
 [11.6]
 [18.3]
 [ 8. ]
 [15.3]
 [ 5.6]
 [ 1.6]
 [ 8.7]
 [ 8.1]
 [15.9]
 [16. ]
 [11.7]
 [ 5.3]
 [ 6.6]
 [13.4]
 [23.2]
 [24.4]
 [ 9.5]
 [21.8]
 [ 3.2]
 [11.4]
 [ 8.8]
 [15.5]
 [10.3]
 [19. ]
 [15.9]
 [12.5]
 [11.3]
 [ 9.5]
 [12.7]
 [10.5]
 [23.7]
 [10.6]
 [ 9.5]
 [12.8]
 [12.9]
 [13.2]
 [ 9.4]
 [11.2]
 [20.2]
 [11.8]
 [21.2]
 [14.9]
 [ 7.6]
 [10.8]
 [13.6]
 [16.1]
 [15.5]
 [11.5]
 [22.1]
 [ 8.7]
 [14.7]
 [ 9.9]
 [14.6]
 [11.5]
 [10.9]
 [14.1]
 [12.3]
 [12.4]
 [22.3]
 [12.6]
 [11.9]
 [ 9.7]
 [ 9.6]
 [17.6]
 [20.8]]

(160, 1)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
lr_regressor = LinearRegression() # instantiate the Linear Regression module
lr_regressor.fit(x_train, y_train) # training the data

# after training the data, perform prediction:

y_pred_lr = lr_regressor.predict(x_test) # this is the prediction 

# evaluate the r2_score and RMSE between prediction and real data

print(r2_score(y_test, y_pred_lr))
print(mse(y_test, y_pred_lr)**0.5)

0.9308840239596393
1.5992931686961611